---
// eslint-disable-next-line import/no-unresolved
import { Image } from 'astro:assets';

import ProfilePictureIcon from '../../assets/icons/ProfilePicture.jpg';
import ExternalLink from '../utils/ExternalLink.astro';
---

<div class="flex flex-col items-center justify-center gap-16 md:flex-row">
  <div class="grid grid-cols-1">
    <div class="z-10 col-start-1 row-start-1">
      <Image
        src={ProfilePictureIcon}
        width={160}
        height={160}
        alt="Profile picture"
      />
      <style>
        img {
          @apply rounded-xl;
        }
      </style>
    </div>
    <div
      class="z-0 col-start-1 row-start-1 animate-pulse rounded-full bg-gray-300 shadow-lg dark:bg-gray-600"
    >
    </div>
  </div>
  <div>
    <div class="flex">
      Hi there<div class="w-7">
        <div class="mx-1">
          <Image
            src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif"
            width={50}
            height={50}
            alt="Waving hand"
          />
        </div>
      </div>, I am Marvin Stickel.
    </div>
    <p>
      I&apos;m a Frontend Developer working at
      <ExternalLink href="https://www.prisma-capacity.eu/" classString="mr-1">
        PRISMA
      </ExternalLink>
      {' '}in <ExternalLink href="https://goo.gl/maps/FjHhzhpnCxg4z4FF6">
        Jena, Germany
      </ExternalLink>.
    </p>
    <p>
      This is my small personal blog about everything around tech and
      programming.
    </p>
    <p class="mt-4">More about me:</p>
    <div class="mt-2 flex flex-row flex-wrap gap-4 md:gap-8">
      <ExternalLink href="https://github.com/SenseiMarv" favicon>
        GitHub
      </ExternalLink>
      <ExternalLink href="https://www.linkedin.com/in/mstickel" favicon>
        LinkedIn
      </ExternalLink>
      <ExternalLink href="https://www.xing.com/profile/Marvin_Stickel" favicon>
        Xing
      </ExternalLink>
      <ExternalLink href="https://www.instagram.com/senseimarv/" favicon>
        Instagram
      </ExternalLink>
      <ExternalLink href="https://open.spotify.com/user/themalvin" favicon>
        Spotify
      </ExternalLink>
    </div>
  </div>
</div>
