---
import PostOverview from "../../components/post/PostOverview.astro";
import { sortPostsByDate } from "../../components/utils/sortPosts";
import Layout from "../../layouts/Layout.astro";

const posts = sortPostsByDate(await Astro.glob("./**/*.mdx"));
---

<Layout title="The Frontview - All Posts">
  <h1 class="mt-12 mb-8 text-6xl md:mt-24 md:mb-16">All posts</h1>
  <div class="mt-4">
    <PostOverview posts={posts} />
  </div>
</Layout>
