---
// eslint-disable-next-line import/no-unresolved
import { getCollection } from "astro:content";

// eslint-disable-next-line import/no-unresolved
import { getLivePosts } from "../../components/posts/filterPosts.js";
import Overview from "../../components/posts/Overview.astro";
// eslint-disable-next-line import/no-unresolved
import { sortPostsByDate } from "../../components/posts/sortPosts.js";
// eslint-disable-next-line import/no-unresolved
import { getTags } from "../../components/tags/sortTags.js";
import Button from "../../components/utils/Button.astro";
import Layout from "../../layouts/Layout.astro";

const { tag } = Astro.params;

const posts = sortPostsByDate(getLivePosts(await getCollection("posts")));
const postsWithTag = posts.filter((post) => {
  if (tag === undefined) {
    return false;
  }
  const postTags = getTags(post.data.tags);
  return postTags.includes(tag);
});

// Catch invalid URLs
if (postsWithTag.length === 0) {
  return Astro.redirect("/404");
}
---

<Layout
  title={`Tag ${tag} | The Frontview`}
  description={`A list of all blog posts using the tag "${tag}" in my personal blog. Author: Marvin Stickel`}
>
  <h1 class="mt-12 mb-8 text-6xl md:mt-24 md:mb-16">Tag {tag}</h1>
  <div class="mt-2 md:mt-4">
    <Overview posts={postsWithTag} prefetch />
  </div>
  <div class="mt-4 flex justify-center md:mt-8 lg:mt-16">
    <Button href="/tags" prefetch>Back to tags</Button>
  </div>
</Layout>
