---
import Overview from "../../components/post/Overview.astro";
import { sortPostsByDate } from "../../components/post/sortPosts";
import { getTags } from "../../components/tags/sortTags";
import Layout from "../../layouts/Layout.astro";

const posts = sortPostsByDate(await Astro.glob("../posts/**/*.mdx"));
const pathnameMatch = Astro.url.pathname.match(/[^/]*$/);
const currentTag = pathnameMatch !== null ? pathnameMatch[0] : "";
const postsWithTag = posts.filter((post) => {
  const postTags = getTags(post.frontmatter.tags);
  return postTags.includes(currentTag);
});

// Catch invalid URLs
if (postsWithTag.length === 0) {
  return Astro.redirect("/404");
}
---

<Layout title={`The Frontview - Tag ${currentTag}`}>
  <h1 class="mt-12 mb-8 text-6xl md:mt-24 md:mb-16">Tag {currentTag}</h1>
  <div class="mt-2 md:mt-4">
    <Overview posts={postsWithTag} prefetch />
  </div>
  <div class="mt-4 flex justify-center md:mt-8 lg:mt-16">
    <a
      href="/tags"
      rel="prefetch"
      class="inline-flex items-center rounded-lg bg-gray-600 px-3 py-2 text-center transition-colors duration-300 hover:bg-teal-500"
      >Back to tags</a
    >
  </div>
</Layout>
