---
import Overview from "../../components/tags/Overview.astro";
import { sortTagsByUsage } from "../../components/tags/sortTags";
import Layout from "../../layouts/Layout.astro";

const sortedTags = sortTagsByUsage(await Astro.glob("../posts/**/*.mdx"));
---

<Layout title="The Frontview - Tags">
  <h1 class="mt-12 mb-8 text-6xl md:mt-24 md:mb-16">Tags</h1>
  <div class="mt-4">
    <Overview tags={sortedTags} />
  </div>
</Layout>
