---
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob("../posts/**/*.mdx");
---

<Layout title="The Frontview - Tags">
  <h1 class="mt-24 mb-16 text-6xl">Tags</h1>
  TBD
</Layout>
