---
import Profile from "../components/home-page/Profile.astro";
import Overview from "../components/posts/Overview.astro";
// eslint-disable-next-line import/no-unresolved
import { sortPostsByDate } from "../components/posts/sortPosts";
import Button from "../components/utils/Button.astro";
import Divider from "../components/utils/Divider.astro";
import Layout from "../layouts/Layout.astro";

const posts = sortPostsByDate(await Astro.glob("./posts/**/*.mdx"));
---

<Layout
  title="The Frontview - Personal Blog"
  description="A small personal blog about everything around tech and programming. Author: Marvin Stickel"
>
  <div class="mt-12 md:mt-24">
    <Profile />
    <h2 class="mt-12 text-2xl md:mt-24 md:text-4xl">Recent posts</h2>
    <div class="mt-2 md:mt-4">
      <Divider noSpacing />
    </div>
    <div class="mt-2 md:mt-4">
      <Overview posts={posts.slice(undefined, 9)} prefetch />
    </div>
    <div class="mt-4 flex justify-center md:mt-8 lg:mt-16">
      <Button href="/posts" prefetch>See all posts</Button>
    </div>
  </div>
</Layout>
