---
import { Image } from "@astrojs/image/components";

import ProfilePictureIcon from "../../assets/icons/ProfilePicture.jpg";
import PostOverview from "../components/post/PostOverview.astro";
import ExternalLink from "../components/utils/ExternalLink.astro";
import { sortPostsByDate } from "../components/utils/sortedPosts";
import Layout from "../layouts/Layout.astro";

const posts = sortPostsByDate(await Astro.glob("./posts/**/*.mdx"));
---

<Layout title="The Frontview">
  <div class="mt-2 flex flex-col items-center justify-center gap-8 md:flex-row">
    <div class="w-40">
      <Image
        src={ProfilePictureIcon}
        width={1000}
        alt="GitHub"
        class="rounded-full"
      />
    </div>
    <div>
      <div class="flex">
        Hi there<div class="w-6">
          <Image
            src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif"
            height={50}
            aspectRatio={1 / 1}
            alt="Waving hand"
            class="mx-1"
          />
        </div>, I am Marvin Stickel.
      </div>
      <p>
        I&apos;m a Junior Software Developer working at
        <ExternalLink href="https://epages.com/en/">epages</ExternalLink>
        in <ExternalLink href="https://epages.com/en/"
          >Jena, Germany</ExternalLink
        >.
      </p>
      <p>
        This is my small personal blog about everything around tech and
        programming.
      </p>
    </div>
  </div>
  <h2 class="mt-24 text-2xl md:text-4xl">Recent posts</h2>
  <div class="mt-4 border-t border-gray-600"></div>
  <PostOverview posts={posts.slice(undefined, 9)} />
  <div class="mt-8 flex justify-center lg:mt-16">
    <a
      href="/posts"
      class="text-md inline-flex items-center rounded-lg bg-gray-600 px-3 py-2 text-center transition-colors duration-300 hover:bg-teal-500"
      >See all posts</a
    >
  </div>
</Layout>
