---
// eslint-disable-next-line import/no-unresolved
import { getCollection } from "astro:content";

import { getLivePosts } from "../components/posts/filterPosts";
import Overview from "../components/posts/Overview.astro";
import { sortPostsByDate } from "../components/posts/sortPosts";
import Layout from "../layouts/Layout.astro";

export const prerender = true;

const posts = sortPostsByDate(getLivePosts(await getCollection("posts")));
---

<Layout
  title="Posts | The Frontview"
  description="Overview page of all the posts on my blog, sorted by date from the most recent to the oldest posts."
>
  <h1 class="mb-8 mt-12 text-6xl md:mb-16 md:mt-24">Posts</h1>
  <div class="mt-4">
    <Overview posts={posts} />
  </div>
</Layout>
