---
// eslint-disable-next-line import/no-unresolved
import { getCollection } from "astro:content";

import { getLiveSetup } from "../components/setup/filterSetup.js";
import Overview from "../components/setup/Overview.astro";
import { sortSetupByCustomOrder } from "../components/setup/sortSetup.js";
import Layout from "../layouts/Layout.astro";

export const prerender = true;

const setup = sortSetupByCustomOrder(
  getLiveSetup(await getCollection("setup"))
);
---

<Layout
  title="My Setup | The Frontview"
  description="Overview page of all My Setup articles, sorted by date from the most recent to the oldest article."
>
  <h1 class="mb-8 mt-12 text-6xl md:mb-16 md:mt-24">My Setup</h1>
  <div class="mt-4">
    <Overview setup={setup} />
  </div>
</Layout>
