---
// eslint-disable-next-line import/no-unresolved
import { Image } from "@astrojs/image/components";

import TheFrontviewIcon from "../../../assets/icons/TheFrontview-Icon.png";
import Divider from "../utils/Divider.astro";
import ExternalLink from "../utils/ExternalLink.astro";
import Icon from "../utils/Icon.astro";
import NavLink from "../utils/NavLink.astro";
import ThemeToggle from "../utils/ThemeToggle.astro";
import GitHubIcon from "./GitHubIcon.astro";
---

<header class="p-3 pt-4 md:px-6 md:pt-8">
  <div class="mb-3">
    <a
      href="/"
      rel="prefetch"
      class="flex items-center text-4xl font-bold md:text-6xl"
    >
      <div class="mr-2 grid w-10 grid-cols-1 md:mr-4 md:w-16">
        <div class="z-10 col-start-1 row-start-1">
          <Image
            src={TheFrontviewIcon}
            width={64}
            height={64}
            alt="The Frontview Icon"
          />
        </div>
        <div
          class="z-0 col-start-1 row-start-1 ml-1 mt-1 h-8 w-8 animate-pulse rounded-full bg-gray-300 dark:bg-gray-600 md:ml-2 md:mt-2 md:h-12 md:w-12"
        >
        </div>
      </div><h1>The Frontview</h1>
    </a>
  </div>
  <div class="flex">
    <div class="flex gap-4 text-lg">
      <NavLink href="/" prefetch>Home</NavLink>
      <NavLink href="/posts/" prefetch>All Posts</NavLink>
      <NavLink href="/tags/" prefetch>Tags</NavLink>
    </div>
    <div class="ml-auto flex gap-4 text-lg">
      <ThemeToggle />
      <NavLink href="/rss.xml" newTab ariaLabel="RSS feed">
        <Icon iconSet="material-symbols" name="rss-feed-rounded" />
      </NavLink>
      <ExternalLink href="https://github.com/SenseiMarv/the-frontview">
        <div
          class="w-6 transition-colors duration-300 hover:fill-teal-700 active:!fill-teal-400 active:duration-100 dark:fill-white dark:hover:fill-teal-500 dark:active:!fill-teal-700"
        >
          <GitHubIcon />
        </div>
      </ExternalLink>
    </div>
  </div>
  <div class="mt-2 md:mt-4">
    <Divider noSpacing />
  </div>
</header>
