<footer class="p-3 pt-12 md:px-6 md:pt-24">
  <div class="border-t border-gray-600"></div>
  <div class="mt-2 flex gap-4 text-lg text-gray-400">
    Copyright (c) 2022 Marvin Stickel. MIT License.
  </div>
</footer>
