<footer class="p-3 pt-24 md:px-6">
  <div class="border-t border-gray-600"></div>
  <div class="mt-4 flex gap-4 text-lg text-gray-400">
    Copyright (c) 2022 Marvin Stickel. MIT License.
  </div>
</footer>
