---
import BuyMeACoffee from "../utils/BuyMeACoffee.astro";
import Divider from "../utils/Divider.astro";
import NavLink from "../utils/NavLink.astro";
---

<footer
  class="p-3 pb-6 pt-12 md:px-6 md:pb-8 md:pt-24"
  transition:name="footer"
>
  <Divider noSpacing />
  <div
    class="mt-2 flex flex-col gap-4 text-lg text-gray-500 dark:text-gray-400 md:mt-4 md:flex-row md:items-center"
  >
    Copyright (c) 2022 Marvin Stickel. MIT License.
    <div class="ml-auto flex items-center gap-4">
      <BuyMeACoffee />
      <NavLink href="/privacy/" prefetch="hover">Privacy policy</NavLink>
    </div>
  </div>
</footer>
