---
import Divider from "../utils/Divider.astro";
// import Quantcast from "../utils/Quantcast.astro";
---

<footer class="p-3 pt-12 md:px-6 md:pt-24">
  <Divider noSpacing />
  <div class="mt-2 flex gap-4 text-lg text-gray-500 dark:text-gray-400">
    Copyright (c) 2022 Marvin Stickel. MIT License.
    <!-- <Quantcast /> -->
  </div>
</footer>
