---
// Some MDX components cannot be overridden at the time because they would then lose remark/rehype additions or modifications (e.g. automatic addition of links to headings no longer works).
// To accomodate this, https://tailwindcss.com/docs/hover-focus-and-other-states#using-arbitrary-variants should be utilized until this issue get's resolved.
---

<div
  class="[&_a]:text-teal-300 [&_a]:transition-colors [&_a]:duration-300 [&_a:hover]:text-teal-500 [&_a:hover]:underline [&_a:hover]:underline-offset-2"
>
  <slot />
</div>
