---
import type { Post } from "../../typings/Post";
import Card from "./Card.astro";

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<ul class="grid justify-items-center gap-8 p-4 md:grid-cols-3 lg:gap-16">
  {
    posts.map((post, index) => (
      <>
        <li class="list-none">
          <Card
            title={post.frontmatter.title}
            imgUrl={post.frontmatter.imgUrl}
            date={post.frontmatter.date}
            readingTime={post.frontmatter.readingTime}
            url={post.url ? post.url : ""}
          />
        </li>
      </>
    ))
  }
</ul>
