---
import "@fontsource/quicksand";
import "@fontsource/inter";
import "@fontsource/source-code-pro";

import defaultTheme from "tailwindcss/defaultTheme";

import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
import GoogleAnalytics from "../components/utils/scripts/GoogleAnalytics.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const headingFontFamily = [
  "Quicksand",
  ...defaultTheme.fontFamily.sans,
].toString();
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A small personal blog about everything around tech and programming. Author: Marvin Stickel"
    />
    <meta name="robots" content="index, follow" />
    <GoogleAnalytics />
    <title>{title}</title>
  </head>
  <body class="container mx-auto max-w-xl bg-gray-800 text-white md:max-w-5xl">
    <Header />
    <main class="px-3 md:px-6">
      <slot />
      <style>
        body {
          margin: 0;
        }
      </style>

      <style is:global define:vars={{ headingFontFamily }}>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: var(--headingFontFamily);
        }
      </style>
    </main>
    <Footer />
  </body>
</html>
