---
import "@fontsource/quicksand";
import "@fontsource/inter";
import "@fontsource/source-code-pro";

import defaultTheme from "tailwindcss/defaultTheme";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const headingFontFamily = [
  "Quicksand",
  ...defaultTheme.fontFamily.sans,
].toString();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style>
      body {
        margin: 0;
      }
    </style>

    <style is:global define:vars={{ headingFontFamily }}>
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--headingFontFamily);
      }
    </style>
  </body>
</html>
