---
import HeadingLinkSvg from "../components/markdown/HeadingLinkSvg.astro";
import Header from "../components/post/Header.astro";
import ScrollBar from "../components/post/ScrollBar.astro";
import Divider from "../components/utils/Divider.astro";
import Giscus from "../components/utils/scripts/Giscus.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <ScrollBar />
  <div class="mt-12 md:mt-24">
    <Header
      title={frontmatter.title}
      imgUrl={frontmatter.imgUrl}
      date={frontmatter.date}
    />
  </div>
  <div class="mt-8 mb-4 md:mt-16 md:mb-8">
    <Divider />
  </div>
  <slot />
  <div class="mt-8 mb-4 md:mt-16 md:mb-8">
    <Divider />
  </div>
  <div class="mt-8">
    <Giscus is:inline />
  </div>
  <HeadingLinkSvg />
  <style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer components {
      /* Some MDX components cannot be overridden at the time because they would then lose remark/rehype additions or modifications (e.g. automatic addition of links to headings no longer works). */

      /* Styling of the headings */

      h1.heading {
        @apply mt-12 mb-6 text-4xl;
      }
      h2.heading {
        @apply mb-4 mt-10 text-3xl;
      }
      h3.heading {
        @apply mb-2 mt-8 text-2xl;
      }
      h4.heading {
        @apply mt-6 mb-1 text-xl;
      }
      h5.heading {
        @apply mt-4 text-lg;
      }
      h6.heading {
        @apply mt-2 text-lg;
      }

      /* Styling of the heading links */

      .heading {
        @apply flex items-center;
      }
      .heading a svg {
        @apply invisible w-4  md:visible;
      }
      .heading a {
        @apply absolute -ml-4 w-full max-w-xl cursor-pointer no-underline opacity-0 hover:opacity-100 md:max-w-5xl lg:-ml-6;
      }
      /* The first heading is the table of contents, where a link isn't necessary */
      .heading:first-child a {
        @apply hidden;
      }

      /* Styling of the toc links */

      #table-of-contents + ul a {
        @apply text-teal-300 transition-colors duration-300 hover:text-teal-500 hover:underline hover:underline-offset-2;
      }
    }
  </style>
</Layout>
