---
import { twJoin } from "../utils/twJoin.js";

export interface Props {
  href: string;
  prefetch?: boolean;
  external?: boolean;
  classString?: string;
}

const { href, prefetch, external, classString = "" } = Astro.props;
---

<a
  href={href}
  rel={prefetch ? "prefetch" : undefined}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  class={twJoin(
    "inline-flex items-center rounded-lg bg-gray-700 px-3 py-2 text-center text-white transition-colors duration-300 hover:bg-teal-700 active:scale-95 active:transition active:duration-100 dark:bg-gray-600 dark:hover:bg-teal-500",
    classString
  )}
  ><slot />
</a>
