---
import BuyMeACoffeeIcon from '../utils/icons/BuyMeACoffeeIcon.astro';
import Button from './Button.astro';
---

<Button href="https://www.buymeacoffee.com/thefrontview" external>
  <div class="flex items-center gap-2 text-sm">
    <div class="w-4">
      <BuyMeACoffeeIcon />
    </div>
    Buy Me a Coffee
  </div>
</Button>
