---
export interface Props {
  noSpacing?: boolean;
}

const { noSpacing } = Astro.props;

const styling = noSpacing
  ? 'border-t border-gray-400 dark:border-gray-600'
  : 'my-8 border-t border-gray-400 dark:border-gray-600';
---

<div class={styling}></div>
