---
// eslint-disable-next-line import/no-unresolved
import { Image } from "@astrojs/image/components";

export interface Props {
  href: string;
  favicon?: boolean;
}

const { href, favicon } = Astro.props;

const faviconHeight = 18;
---

<a
  href={href}
  target="_blank"
  rel="noopener, noreferrer"
  class="inline-flex items-baseline gap-1 text-teal-700 transition-colors duration-300 hover:text-teal-500 dark:text-teal-300 dark:hover:text-teal-500"
>
  {
    favicon && (
      <Image
        src={`https://www.google.com/s2/favicons?sz=${faviconHeight}&domain_url=${href}`}
        height={faviconHeight}
        aspectRatio={1 / 1}
        alt="Favicon"
        class="relative top-1"
      />
    )
  }
  <slot />
</a>
