---
// eslint-disable-next-line import/no-unresolved
import { Image } from 'astro:assets';

import { twJoin } from '../utils/twJoin';

export interface Props {
  href: string;
  favicon?: boolean;
  classString?: string;
}

const { href, favicon, classString = '' } = Astro.props;

const faviconHostname =
  /^((http[s]?|ftp):\/)?\/?([^:/\s]+)((\/\w+)*\/)([\w\-.]+[^#?\s]+)(.*)?(#[\w-]+)?$/.exec(
    href
  );
const faviconUrl = faviconHostname
  ? `https://icon.horse/icon/${faviconHostname[3]}`
  : `https://icon.horse/icon?uri=${href}`;
---

<a
  href={href}
  target="_blank"
  rel="noopener, noreferrer"
  class={twJoin(
    'inline-flex items-baseline gap-1 text-teal-700 transition-colors duration-300 hover:text-teal-500 active:!text-teal-400 active:duration-100 dark:text-teal-300 dark:hover:text-teal-500 dark:active:!text-teal-700',
    classString
  )}
>
  {
    favicon && (
      <div class="relative top-1 grid grid-cols-1">
        <div class="z-10 col-start-1 row-start-1">
          <Image src={faviconUrl} alt="Favicon" width={18} height={18} />
        </div>
        <div class="z-0 col-start-1 row-start-1 animate-pulse rounded-full bg-gray-300 dark:bg-gray-600" />
      </div>
    )
  }
  <slot />
</a>
