---
// eslint-disable-next-line import/no-unresolved
import { Image as AstroImage } from "astro:assets";

export interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;
}

const defaultWidth = 500;
const defaultHeight = 375;

const { src, alt, width = defaultWidth, height = defaultHeight } = Astro.props;
---

<div class="image-component flex flex-col items-center">
  <div class="grid grid-cols-1">
    <div class="z-10 col-start-1 row-start-1">
      <AstroImage src={src} alt={alt} width={width} height={height} />
    </div>
    <div
      class="z-0 col-start-1 row-start-1 animate-pulse bg-gray-300 shadow-xl dark:bg-gray-600"
    >
    </div>
  </div>
  <div class="mt-4">
    <slot />
  </div>
</div>
