---
export interface Props {
  href: string;
  prefetch?: boolean;
  newTab?: boolean;
  classString?: string;
}

const { href, prefetch, newTab, classString = "" } = Astro.props;
---

<a
  href={href}
  target={newTab ? "_blank" : undefined}
  rel={prefetch && newTab
    ? "prefetch, noopener, noreferrer"
    : prefetch
    ? "prefetch"
    : newTab
    ? "noopener, noreferrer"
    : undefined}
  class={`${classString} inline-flex transition-colors duration-300 hover:text-teal-700 hover:underline hover:underline-offset-2 dark:hover:text-teal-500`}
>
  <slot />
</a>
