<div
  id="scroll-progress"
  class="fixed left-0 top-0 z-50 h-1 w-0 bg-teal-700 transition-all duration-75 ease-linear dark:bg-teal-500"
>
</div>
<script>
  const setScrollProgress = () => {
    const scrollProgress = document.getElementById('scroll-progress');

    if (scrollProgress) {
      const height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight;

      window.addEventListener('scroll', () => {
        const scrollTop =
          document.body.scrollTop || document.documentElement.scrollTop;
        const scrollAmount =
          (scrollTop / height) * 100 > 100 ? 100 : (scrollTop / height) * 100;
        scrollProgress.style.width = `${scrollAmount}%`;
      });
    }
  };

  setScrollProgress();
  document.addEventListener('astro:page-load', setScrollProgress);
</script>
