---
import Icon from "./Icon.astro";
---

<button
  data-toggle-theme="light,dark"
  data-act-class="ACTIVECLASS"
  class="transition-colors duration-300 hover:text-teal-700 active:!text-teal-400 active:duration-100 dark:hover:text-teal-500 dark:active:!text-teal-700"
  aria-label="Toggle light/dark theme"
>
  <Icon
    iconSet="fluent-emoji-high-contrast"
    name="first-quarter-moon"
    classString="hover:fill-teal-500 !align-top"
  />
</button>
